{% extends 'mainapp/layout.html' %}
{% include 'mainapp/navigation.html' %}
{% block title_block %}
    Article
{% endblock %}

{% block main_block %}
    <div class="news_article_wrapper">
        <div class="flat_container">
            <img class="news_article_image" src="{{ news.cover.url }}" alt="Cover image" style="width: 100%">
        </div>
        <h2 class="heading_2">{{ news.title }}</h2>
        <br>
        <span class="news_article_author">by {{ news.author }}, {{ news.date }}</span>
        <p class="news_article_text">{{ news.text }}</p>
    </div>



{% endblock %}