<div class="flat_container">
    <div class="flat_container_header">
        <strong class="flat_container_heading_text">{{ value.question }}</strong>
    </div>
    <div class="flat_container_body">
        <span class="flat_container_emphasis_text" itemprop="lastReviewed">{{ value.date }}</span>
        <br>
        <span class="flat_container_default_text" itemprop="teaser">{{ value.teaser }}</span>
        <br>
        <a class="btn_general" itemprop="significantLink" href="{{ value.id }}">Expand</a>
    </div>
</div>