{% extends 'mainapp/layout.html' %}

{% block title_block %}
    FAQ
{% endblock %}

{% block main_block %}
    <h1>Frequently asked questions (FAQ)</h1>
    {% for faq in faq_list %}
        {% include 'mainapp/faq/faq_block.html' with value=faq %}
    {% endfor %}
    <h1>Our work</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/r-sLYlXXTFM?si=4o9k54AuxGkIUiNY" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wiBhfqOUToQ?si=5LivOiIxFcFEj8q8" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IzO9LN1wT78?si=hKwn5lPRtV5l14AE" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/me2TU14tV4Y?si=rln5j_L2qtSMXyAX" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %}