{% extends 'mainapp/layout.html' %}

{% block title_block %}
    Cart items
{% endblock %}

{% block main_block %}
    <h1>Cart items</h1>

    {% for item in items %}
        {% include 'cart_app/cart_item_block.html' with item=item index=item.index %}
    {% endfor %}
    <div style="display: flex; justify-content: center; width: 100%">
        <form action="{% url 'cart_checkout' %}" method="post">
            {% csrf_token %}
            <input type="text" hidden name="items" value="{{ item_ids }}">
            <button class="checkout_btn" type="submit">Checkout</button>
        </form>
    </div>



{% endblock %}