{% extends 'mainapp/layout.html' %}

{% block title_block %}
    Checkout
{% endblock %}

{% block main_block %}
    <h1>Checkout</h1>

    <form action="{% url 'create_order' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Full name">
        <br>
        <input type="text" name="phone_number" placeholder="Phone number">
        <br>
        <input type="text" name="address" placeholder="Full address">
        <br>
        <input type="text" name="passport_serial" placeholder="Passport serial number">
        <br>
        <button type="submit">Order</button>
    </form>

    {% for item in items %}
        <span>{{ item.device }}</span>
        <br>
    {% endfor %}


{% endblock %}