{% extends 'mainapp/layout.html' %}
{% block title_block %}
    Components
{% endblock %}

{% block main_block %}
    <h1>Present components</h1>
    <div>
        {% for present_component in present_components %}
            {% include 'master_app/present_component_list_block.html' with component=present_component entry_id=entry_id %}
        {% endfor %}
    <h1>All components</h1>
    <div style="background-color: #f7f7f7; font-family: Consolas, sans-serif; padding: 20px; margin: 0 15px 15px 15px; box-shadow: 0 0 30px rgba(0, 0, 0, .1);">
        <form action="{% url 'component_list' %}" method="get">
            <input type="text" name="search_query">
            <input type="text" hidden name="entry_id" value="{{ entry_id }}">
            <button type="submit">Search</button>
        </form>
    </div>

        {% for component in search_result %}
            {% include 'master_app/search_result_block.html' with component=component entry_id=entry_id %}
        {% endfor %}

        {% for category in categories %}
            {% include 'master_app/component_list_block.html' with category=category entry_id=entry_id %}
        {% endfor %}
    </div>


{% endblock %}