{% extends 'mainapp/layout.html' %}
{% block title_block %}
    Components
{% endblock %}

{% block main_block %}
    <div class="heading_container">
        <h1 class="heading_1">Present components</h1>
    </div>
    <div>
        <div class="service_wrapper">
            {% for present_component in present_components %}
                {% include 'master_app/present_component_list_block.html' with component=present_component entry_id=entry_id %}
            {% endfor %}
        </div>
    <div class="heading_container_symmetrical">
        <h1 class="heading_1">All components</h1>
    </div>
    <div class="flat_container_padding">
        <form action="{% url 'component_list' %}" method="get">
            <input class="input_general" type="text" name="search_query" placeholder="Search query">
            <input type="hidden" name="entry_id" value="{{ entry_id }}">
            <button type="submit" class="btn_general">Search</button>
        </form>
    </div>

        <div class="service_wrapper_2">
            {% for component in search_result %}
                {% include 'master_app/search_result_block.html' with component=component entry_id=entry_id %}
            {% endfor %}
        </div>
        {% for category in categories %}
            {% include 'master_app/component_list_block.html' with category=category entry_id=entry_id %}
        {% endfor %}
    </div>


{% endblock %}