<div class="card">
    {% if item.entry.status == 'Ready' or item.entry.status == 'Cancelled' %}
        <div style="position: absolute; width: 100%; height: 100%; background-color: rgba(255, 255, 255, .6)"></div>
    {% endif %}
    <span style="font-weight: bold">{{ item.entry.service_type.name }} - {{ item.entry.service.name }} - ${{ item.entry.count_total }}</span>
    <br>
    <span style="background-color: black; color: #f7f7f7">{{ item.entry.device_type.name }} {{ item.entry.device.name }}</span>
    <br>
    <span>{{ item.client.name }} [{{ item.client.passport_serial }}]</span>
    <br>
    <div style="display: flex; align-items: center">
        {% if item.entry.status == 'In progress' %}
            <button class="control_btn accept inactive">In progress</button>
        {% elif item.entry.status == 'Ready' %}
            <button class="control_btn accept inactive">Ready</button>
        {% elif item.entry.status == 'Cancelled' %}
            <button class="control_btn accept inactive">Cancelled</button>
        {% else %}
            <form action="{% url 'accept_order' %}" method="post">
            {% csrf_token %}
            <input type="text" hidden name="order_entry_id" value="{{ item.entry.id }}">
            <button class="control_btn accept">Accept</button>
        </form>
        {% endif %}
        <form action="{% url 'component_list' %}" method="get">
            {% csrf_token %}
            <input type="text" hidden name="entry_id" value="{{ item.entry.id }}">
            <button class="control_btn">Manage components</button>
        </form>
        <form action="{% url 'finish_order' %}" method="post">
            {% csrf_token %}
            <input type="text" hidden name="entry_id" value="{{ item.entry.id }}">
            <button class="control_btn done" type="submit">Done</button>
        </form>
    </div>
</div>