<div class="card">
    <span style="font-weight: bold">{{ component.name }}</span>
     -
    <span style="font-weight: bold">${{ component.price_in_usd }}</span>
    <form action="{% url 'remove_component' %}" method="post" style="margin: 0">
        {% csrf_token %}
        <input type="text" hidden name="component_id" value="{{ component.id }}">
        <input type="text" hidden name="entry_id" value="{{ entry_id }}">
        <button class="delete" type="submit">Remove</button>
    </form>
</div>