{% extends 'mainapp/layout.html' %}
{% load static %}

{% block title_block %}
    Devices
{% endblock %}

{% block main_block %}
    <div class="heading_container">
        <h1 class="heading_1">Devices</h1>
    </div>
    <div class="service_wrapper">
        {% for device in devices %}
            <div class="card_wrapper">
                <div class="flat_container_padding service_item">
                    <a class="flat_container_heading_text" href="{{ device.id }}/masters">{{ device.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">

    </div>
    <script src="{% static 'paging.js' %}"></script>
{% endblock %}