{% extends 'mainapp/layout.html' %}

{% block title_block %}
    Services
{% endblock %}

{% block main_block %}
    <div class="heading_container">
        <h1 class="heading_1">Services</h1>
    </div>

    <div class="service_wrapper">
        {% for service in services %}
            <div class="flat_container_padding">
                <a href="{{ service.id }}/">{{ service.name }}</a>
                <br>
                <span>{{ service.description }}</span>
            </div>
        {% endfor %}
    </div>


{% endblock %}