{% extends 'mainapp/layout.html' %}

{% block title_block %}
    About
{% endblock %}

{% block main_block %}
    <section>
        <article style="padding: 20px">
        <h1>About us</h1>
        <q cite="https://www.azquotes.com/quote/107373?ref=technology">
            The advance of technology is based on making it fit in so that you don't really even notice it, so it's part of everyday life.
        </q>
        <p>
            We are <dfn><abbr title="Computer Construction Company">CCC</abbr></dfn> - and we fix everything. We have long history of service dating back to <mark><time datetime="2002-13-1">December 7, 2002</time></mark>.
            Our work is always <a href="#certificate">certified</a>  quality.
        </p>
        <br>
        <p>
    {#        {{ info.description }}#}
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque earum, hic impedit nostrum odit praesentium rerum sint. Accusantium aperiam dolor dolorem fuga hic nobis numquam quam quidem repudiandae saepe.</span>
            <span>Assumenda delectus deleniti et id ipsa laboriosam nemo perferendis quaerat reprehenderit similique! Accusantium amet asperiores at atque beatae cumque dolor earum in libero necessitatibus omnis perferendis, possimus sequi sint, vero.</span>
            <span>Architecto aut autem consectetur cupiditate deserunt dignissimos ducimus eius et excepturi iste iure laborum magnam maxime numquam perspiciatis praesentium quae rem reprehenderit similique temporibus ullam ut, vel voluptate voluptatem voluptatibus.</span>
            <span>Aperiam at autem blanditiis consectetur cum delectus eligendi esse eum molestias praesentium provident quas sed sunt, ut voluptates. Animi asperiores autem ea tempore voluptate. Aliquid magni officiis quae sapiente unde!</span>
            <span>Ab dolorem eveniet fugiat fugit incidunt nobis quaerat quam tenetur. Ad blanditiis ducimus iusto molestiae neque quisquam recusandae sed voluptatem. A autem blanditiis ipsa non tempore. Assumenda eaque magnam voluptatum!</span>
            <span>Amet autem consectetur, cum error fugit ipsa itaque, laborum molestiae quia recusandae repellendus soluta unde veniam. Ad amet animi architecto autem cupiditate deleniti est minima nobis, praesentium sapiente vel voluptatum?</span>
            <span>Blanditiis distinctio ducimus iste laborum natus veniam voluptatem? Accusantium aut deleniti distinctio dolorum est excepturi expedita facere labore porro quibusdam quo similique, unde? Ab atque eveniet itaque quis soluta voluptatibus?</span>
            <span>Accusamus accusantium aliquid cum fuga ipsa maxime minima natus necessitatibus non nulla odit officiis perferendis possimus quisquam, reprehenderit sint unde voluptatibus. Architecto cupiditate eaque eius eos fugit harum laboriosam nulla!</span>
            <span>Consectetur consequatur dolore eligendi impedit quasi quia sequi voluptatum. Adipisci, alias animi architecto at consequuntur eius eligendi et eveniet excepturi exercitationem, explicabo in iure laboriosam maiores quae quos ratione velit.</span>
            <span>Accusantium, corporis delectus fugiat ipsum magni modi provident quis quisquam unde! Beatae, cumque enim illo labore minima minus quam quasi rem. At atque ducimus esse, ex illo repellat rerum velit.</span>

        </p>
        <br>
        <p>
    {#        {{ info.description }}#}
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque earum, hic impedit nostrum odit praesentium rerum sint. Accusantium aperiam dolor dolorem fuga hic nobis numquam quam quidem repudiandae saepe.</span>
            <span>Assumenda delectus deleniti et id ipsa laboriosam nemo perferendis quaerat reprehenderit similique! Accusantium amet asperiores at atque beatae cumque dolor earum in libero necessitatibus omnis perferendis, possimus sequi sint, vero.</span>
            <span>Architecto aut autem consectetur cupiditate deserunt dignissimos ducimus eius et excepturi iste iure laborum magnam maxime numquam perspiciatis praesentium quae rem reprehenderit similique temporibus ullam ut, vel voluptate voluptatem voluptatibus.</span>
            <span>Aperiam at autem blanditiis consectetur cum delectus eligendi esse eum molestias praesentium provident quas sed sunt, ut voluptates. Animi asperiores autem ea tempore voluptate. Aliquid magni officiis quae sapiente unde!</span>
            <span>Ab dolorem eveniet fugiat fugit incidunt nobis quaerat quam tenetur. Ad blanditiis ducimus iusto molestiae neque quisquam recusandae sed voluptatem. A autem blanditiis ipsa non tempore. Assumenda eaque magnam voluptatum!</span>
            <span>Amet autem consectetur, cum error fugit ipsa itaque, laborum molestiae quia recusandae repellendus soluta unde veniam. Ad amet animi architecto autem cupiditate deleniti est minima nobis, praesentium sapiente vel voluptatum?</span>
            <span>Blanditiis distinctio ducimus iste laborum natus veniam voluptatem? Accusantium aut deleniti distinctio dolorum est excepturi expedita facere labore porro quibusdam quo similique, unde? Ab atque eveniet itaque quis soluta voluptatibus?</span>
            <span>Accusamus accusantium aliquid cum fuga ipsa maxime minima natus necessitatibus non nulla odit officiis perferendis possimus quisquam, reprehenderit sint unde voluptatibus. Architecto cupiditate eaque eius eos fugit harum laboriosam nulla!</span>
            <span>Consectetur consequatur dolore eligendi impedit quasi quia sequi voluptatum. Adipisci, alias animi architecto at consequuntur eius eligendi et eveniet excepturi exercitationem, explicabo in iure laboriosam maiores quae quos ratione velit.</span>
            <span>Accusantium, corporis delectus fugiat ipsum magni modi provident quis quisquam unde! Beatae, cumque enim illo labore minima minus quam quasi rem. At atque ducimus esse, ex illo repellat rerum velit.</span>

        </p>
        <br>
        <p>
    {#        {{ info.description }}#}
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque earum, hic impedit nostrum odit praesentium rerum sint. Accusantium aperiam dolor dolorem fuga hic nobis numquam quam quidem repudiandae saepe.</span>
            <span>Assumenda delectus deleniti et id ipsa laboriosam nemo perferendis quaerat reprehenderit similique! Accusantium amet asperiores at atque beatae cumque dolor earum in libero necessitatibus omnis perferendis, possimus sequi sint, vero.</span>
            <span>Architecto aut autem consectetur cupiditate deserunt dignissimos ducimus eius et excepturi iste iure laborum magnam maxime numquam perspiciatis praesentium quae rem reprehenderit similique temporibus ullam ut, vel voluptate voluptatem voluptatibus.</span>
            <span>Aperiam at autem blanditiis consectetur cum delectus eligendi esse eum molestias praesentium provident quas sed sunt, ut voluptates. Animi asperiores autem ea tempore voluptate. Aliquid magni officiis quae sapiente unde!</span>
            <span>Ab dolorem eveniet fugiat fugit incidunt nobis quaerat quam tenetur. Ad blanditiis ducimus iusto molestiae neque quisquam recusandae sed voluptatem. A autem blanditiis ipsa non tempore. Assumenda eaque magnam voluptatum!</span>
            <span>Amet autem consectetur, cum error fugit ipsa itaque, laborum molestiae quia recusandae repellendus soluta unde veniam. Ad amet animi architecto autem cupiditate deleniti est minima nobis, praesentium sapiente vel voluptatum?</span>
            <span>Blanditiis distinctio ducimus iste laborum natus veniam voluptatem? Accusantium aut deleniti distinctio dolorum est excepturi expedita facere labore porro quibusdam quo similique, unde? Ab atque eveniet itaque quis soluta voluptatibus?</span>
            <span>Accusamus accusantium aliquid cum fuga ipsa maxime minima natus necessitatibus non nulla odit officiis perferendis possimus quisquam, reprehenderit sint unde voluptatibus. Architecto cupiditate eaque eius eos fugit harum laboriosam nulla!</span>
            <span>Consectetur consequatur dolore eligendi impedit quasi quia sequi voluptatum. Adipisci, alias animi architecto at consequuntur eius eligendi et eveniet excepturi exercitationem, explicabo in iure laboriosam maiores quae quos ratione velit.</span>
            <span>Accusantium, corporis delectus fugiat ipsum magni modi provident quis quisquam unde! Beatae, cumque enim illo labore minima minus quam quasi rem. At atque ducimus esse, ex illo repellat rerum velit.</span>

        </p>
    <br>
        <p>
    {#        {{ info.description }}#}
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque earum, hic impedit nostrum odit praesentium rerum sint. Accusantium aperiam dolor dolorem fuga hic nobis numquam quam quidem repudiandae saepe.</span>
            <span>Assumenda delectus deleniti et id ipsa laboriosam nemo perferendis quaerat reprehenderit similique! Accusantium amet asperiores at atque beatae cumque dolor earum in libero necessitatibus omnis perferendis, possimus sequi sint, vero.</span>
            <span>Architecto aut autem consectetur cupiditate deserunt dignissimos ducimus eius et excepturi iste iure laborum magnam maxime numquam perspiciatis praesentium quae rem reprehenderit similique temporibus ullam ut, vel voluptate voluptatem voluptatibus.</span>
            <span>Aperiam at autem blanditiis consectetur cum delectus eligendi esse eum molestias praesentium provident quas sed sunt, ut voluptates. Animi asperiores autem ea tempore voluptate. Aliquid magni officiis quae sapiente unde!</span>
            <span>Ab dolorem eveniet fugiat fugit incidunt nobis quaerat quam tenetur. Ad blanditiis ducimus iusto molestiae neque quisquam recusandae sed voluptatem. A autem blanditiis ipsa non tempore. Assumenda eaque magnam voluptatum!</span>
            <span>Amet autem consectetur, cum error fugit ipsa itaque, laborum molestiae quia recusandae repellendus soluta unde veniam. Ad amet animi architecto autem cupiditate deleniti est minima nobis, praesentium sapiente vel voluptatum?</span>
            <span>Blanditiis distinctio ducimus iste laborum natus veniam voluptatem? Accusantium aut deleniti distinctio dolorum est excepturi expedita facere labore porro quibusdam quo similique, unde? Ab atque eveniet itaque quis soluta voluptatibus?</span>
            <span>Accusamus accusantium aliquid cum fuga ipsa maxime minima natus necessitatibus non nulla odit officiis perferendis possimus quisquam, reprehenderit sint unde voluptatibus. Architecto cupiditate eaque eius eos fugit harum laboriosam nulla!</span>
            <span>Consectetur consequatur dolore eligendi impedit quasi quia sequi voluptatum. Adipisci, alias animi architecto at consequuntur eius eligendi et eveniet excepturi exercitationem, explicabo in iure laboriosam maiores quae quos ratione velit.</span>
            <span>Accusantium, corporis delectus fugiat ipsum magni modi provident quis quisquam unde! Beatae, cumque enim illo labore minima minus quam quasi rem. At atque ducimus esse, ex illo repellat rerum velit.</span>

        </p>
        <br>
        <p>
    {#        {{ info.description }}#}
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque earum, hic impedit nostrum odit praesentium rerum sint. Accusantium aperiam dolor dolorem fuga hic nobis numquam quam quidem repudiandae saepe.</span>
            <span>Assumenda delectus deleniti et id ipsa laboriosam nemo perferendis quaerat reprehenderit similique! Accusantium amet asperiores at atque beatae cumque dolor earum in libero necessitatibus omnis perferendis, possimus sequi sint, vero.</span>
            <span>Architecto aut autem consectetur cupiditate deserunt dignissimos ducimus eius et excepturi iste iure laborum magnam maxime numquam perspiciatis praesentium quae rem reprehenderit similique temporibus ullam ut, vel voluptate voluptatem voluptatibus.</span>
            <span>Aperiam at autem blanditiis consectetur cum delectus eligendi esse eum molestias praesentium provident quas sed sunt, ut voluptates. Animi asperiores autem ea tempore voluptate. Aliquid magni officiis quae sapiente unde!</span>
            <span>Ab dolorem eveniet fugiat fugit incidunt nobis quaerat quam tenetur. Ad blanditiis ducimus iusto molestiae neque quisquam recusandae sed voluptatem. A autem blanditiis ipsa non tempore. Assumenda eaque magnam voluptatum!</span>
            <span>Amet autem consectetur, cum error fugit ipsa itaque, laborum molestiae quia recusandae repellendus soluta unde veniam. Ad amet animi architecto autem cupiditate deleniti est minima nobis, praesentium sapiente vel voluptatum?</span>
            <span>Blanditiis distinctio ducimus iste laborum natus veniam voluptatem? Accusantium aut deleniti distinctio dolorum est excepturi expedita facere labore porro quibusdam quo similique, unde? Ab atque eveniet itaque quis soluta voluptatibus?</span>
            <span>Accusamus accusantium aliquid cum fuga ipsa maxime minima natus necessitatibus non nulla odit officiis perferendis possimus quisquam, reprehenderit sint unde voluptatibus. Architecto cupiditate eaque eius eos fugit harum laboriosam nulla!</span>
            <span>Consectetur consequatur dolore eligendi impedit quasi quia sequi voluptatum. Adipisci, alias animi architecto at consequuntur eius eligendi et eveniet excepturi exercitationem, explicabo in iure laboriosam maiores quae quos ratione velit.</span>
            <span>Accusantium, corporis delectus fugiat ipsum magni modi provident quis quisquam unde! Beatae, cumque enim illo labore minima minus quam quasi rem. At atque ducimus esse, ex illo repellat rerum velit.</span>

        </p>

    </article>
    <div class="article_image" id="certificate">
        <div>
            <img src="/img/Certificate-PNG-Background-Image-1500686172.png" alt="Certificate image">
            <br>
            <a rel="nofollow" href="/img/Certificate-PNG-Background-Image-1500686172.png" download="certificate.png" target="_blank">Download</a>
        </div>
    </div>

    <article>
        <p>
            <code>
                #define R 4
                #define C 4
                using namespace std;

                // A function to rotate a matrix
                // mat[][] of size R x C.
                // Initially, m = R and n = C
                void rotatematrix(int m, int n,
                                  int mat[R][C])
                {
                    int row = 0, col = 0;
                    int prev, curr;

                    /* row - Starting row index
                       m - ending row index
                       col - starting column index
                       n - ending column index
                       i - iterator */
                    while (row < m && col < n)
                    {
                        if (row + 1 == m ||
                            col + 1 == n)
                            break;

                        // Store the first element of
                        // next row, this element will
                        // replace first element of current
                        // row
                        prev = mat[row + 1][col];

                        /* Move elements of first row from
                           the remaining rows */
                        for (int i = col; i < n; i++)
                        {
                            curr = mat[row][i];
                            mat[row][i] = prev;
                            prev = curr;
                        }
                        row++;

                        /* Move elements of last column
                           from the remaining columns */
                        for (int i = row; i < m; i++)
                        {
                            curr = mat[i][n-1];
                            mat[i][n-1] = prev;
                            prev = curr;
                        }
                        n--;

                        /* Move elements of last row from
                           the remaining rows */
                        if (row < m)
                        {
                            for (int i = n-1; i >= col; i--)
                            {
                                curr = mat[m-1][i];
                                mat[m-1][i] = prev;
                                prev = curr;
                            }
                        }
                        m--;

                        /* Move elements of first column from
                           the remaining rows */
                        if (col < n)
                        {
                            for (int i = m-1; i >= row; i--)
                            {
                                curr = mat[i][col];
                                mat[i][col] = prev;
                                prev = curr;
                            }
                        }
                        col++;
                    }

                    // Print rotated matrix
                    for (int i=0; iR; i++)
                    {
                        for (int j=0; jC; j++)
                        cout << mat[i][j] << " ";
                        cout << endl;
                    }
                }

                // Driver code
                int main()
                {
                    // Test Case 1
                    int a[R][C] = {1, 2, 3, 4},
                                   {5, 6, 7, 8},
                                   {9, 10, 11, 12},
                                   {13, 14, 15, 16}};

                    // Test Case 2
                    /* int a[R][C] = {1, 2, 3},
                                      {4, 5, 6},
                                      {7, 8, 9}};
                    */ rotatematrix(R, C, a);
                    return 0;
                }
            </code>
            <br>
            <samp>End result is here</samp>
        </p>
    </article>
    </section>



{% endblock %}