{% extends 'mainapp/layout.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block main_block %}
    <div class="main_info">
        {{ info.description | safe }}
        <figure class="article_image" id="certificate">
            <div>
                <div class="certificate">
                <div class="certificate_bg_image">
                    {# <img class="frame" src="{% static 'frame.svg' %}" alt="..."> #}
                    <div class="certificate_content">
                        <span class="certificate_heading">
                            Certificate of quality
                        </span>
                        <br>
                        <span class="flat_container_emphasis_text">This certificate is presented to</span>
                        <span class="certificate_company">Computer Construction Company</span>
                        <br>
                        <span class="certificate_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A laboriosam officiis optio. Aliquid aut, enim eos esse natus neque nostrum officia tenetur</span>
                        <span class="certificate_bottom_text">Aliquid aut, enim eos esse natus neque nostrum officia tenetur? Facilis incidunt officiis qui. Dolores iure quam quos!</span>
                    </div>

                </div>
            </div>
            <figcaption>
                    <a rel="nofollow" href="{{ info.certificate.url }}" download="certificate.png" target="_blank">Download</a>
            </figcaption>
            </div>
        </figure>
        <h3>Requisites</h3>
        <div class="main_requisites">
            {{ info.requisite | safe }}
        </div>
        <iframe width="600" height="400" src="{{ info.promo_video }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <table class="fun_table">
            <thead>
                <tr>
                    <th id="Col1" colspan="2">Names</th>
                    <th id="Col2">Binary values</th>
                    <th id="Col3">Numeric values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="aboba1 Col1" rowspan="2"></td>
                    <td headers="aboba2 Col2" rowspan="2">Names right</td>
                    <td headers="aboba3 Col3" colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">1101010101</td>
                </tr>
                <tr>
                    <td headers="aboba4 Col1" colspan="3" rowspan="3">Values</td>
                    <td headers="aboba5 Col2" colspan="1" rowspan="1"></td>
                </tr>
                <tr>
                    <td headers="aboba6 Col1">123</td>
                </tr>
                <tr>
                    <td headers="aboba7 Col2">789.5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page_style_picker">
        <label>
            Page color
            <input type="color" id="page_color">
        </label>
        <label>
            Font color
            <input type="color" id="font_color">
        </label>
        <label>
            Font size
            <input type="number" id="font_size" value="16">
        </label>
        <button id="submit" class="btn_general">Apply</button>
    </div>
    <script src="{% static 'customization.js' %}"></script>
{% endblock %}