{% extends 'mainapp/layout.html' %}

{% block title_block %}
    About
{% endblock %}

{% block main_block %}
    <div class="main_info">
        {{ info.description | safe }}
        <figure class="article_image" id="certificate">
            <div>
                <img src="{{ info.certificate.url }}" alt="Certificate image">
                <br>
                <figcaption>
                    <a rel="nofollow" href="{{ info.certificate.url }}" download="certificate.png" target="_blank">Download</a>
                </figcaption>
            </div>
        </figure>
        <h3>Requisites</h3>
        <div class="main_requisites">
            {{ info.requisite | safe }}
        </div>
        <iframe width="600" height="400" src="{{ info.promo_video }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>



{% endblock %}