<div class="card">
    <div class="master_image" style='background-image: url({{ contact.photo.url }}); '></div>
    <div>
        <span style="background: black; color: #f7f7f7">{{ contact.name }} - {{ contact.experience }} years of experience</span>
        <span style="display: block;">Email: {{ contact.email }}</span>
        {% for service in contact.services %}
            <span style="display: block; font-weight: bold">{{ service.name }}:</span>
            <span style="display: block; padding-left: 20px;">- {{ service.description }}</span>
        {% endfor %}
    </div>
</div>