{% extends 'mainapp/layout.html' %}
{% load static %}
{% block title_block %}
    {{ header }}
{% endblock %}

{% block main_block %}
    <div itemscope itemtype=https://schema.org/HomePage">
        <div class="heading_container">
            <h1 class="heading_1">{{ header }}</h1>
        </div>
        <div style="display: flex; justify-content:center;">
            <div class="main_animation">
                <div class="phone" style="background-image: url('{% static 'phone_fixed.png' %}')"></div>
                <div class="laptop" style="background-image: url('{% static 'laptop_fixed.png' %}')"></div>
                <div class="wand" style="background-image: url('{% static 'wand.png' %}')"></div>
            </div>
        </div>
        <div itemprop="advertisement" class="main_banner">
            <div class="slider" loop navs pagination auto pauseonhover delay=2500>
                <div class="prev"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="next"><i class="fa-solid fa-chevron-right"></i></div>
                <div class="slider_counter"></div>
                <div class="slider_pagination">
                    {% for banner in banners %}
                        <div class="slider_pagination_item"></div>
                    {% endfor %}
                </div>
                {% for banner in banners %}
                    <img class="slider_image" src="{{ banner.image.url }}" alt="{{ banner.description }}">
                    <span class="slider_image_caption">{{ banner.description }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="heading_container_symmetrical">
            <h2 class="heading_2">Latest news</h2>
        </div>
        {% include 'news_app/news_article_preview.html' with value=latest_news path=path %}
        <div class="misc_container">
            <div itemprop="joke" style="width: 100%; padding: 20px;">
                <h2 class="heading_2">Random joke</h2>
                <p>{{ joke.setup }}</p>
                <p>{{ joke.punchline}}</p>
            </div>

            <div itemprop="fact" style="width: 100%; padding: 20px;">
                <h2 class="heading_2">Random cat fact</h2>
                <p>{{ cat_fact.fact }}</p>
            </div>
        </div>
        <div itemprop="partners" class="sponsors">
            {% for sponsor in sponsors %}
                <div class="sponsor_block">
                    <a target="_blank" href="{{ sponsor.website_link }}">
                        <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                    </a>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}