{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="keywords" content="Computer, Fix, Cheap, Fast">
    <meta name="author" content="Ivan Lianha">
    <meta name="description" content="Every type of computer service you can find out there. We have it.">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <script src="https://kit.fontawesome.com/bd14ceb501.js" crossorigin="anonymous"></script>
    <title>{% block title_block %}{% endblock %}</title>
</head>
<body>
    <div class="preloader_container" id="preloader">
        <div class="preloader">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="wrapper">
        {% include 'mainapp/navigation.html' %}
        <header class="main_header">
            <h1>TRIPLEC.COM</h1>
            <div class="header_logo"></div>
        </header>
        <main class="content">
            {% block main_block %}{% endblock %}
        </main>
        <footer class="main_footer">
            <div style="text-align: center">
                <code>No rights reserved. CCC Inc., 2024</code>
                <br>
                <samp>
                    Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Aliquid at, cumque doloremque <br>
                    doloribus illo maxime minima minus nam nisi non nulla obca <br>
                    ecati officia optio pariatur possimus soluta susc<wbr>ipit ut voluptates .
                </samp>
            </div>
        </footer>
    </div>
    <script src="{% static 'events.js' %}"></script>
</body>
</html>