<aside class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="http://127.0.0.1:8000/" style="padding-right: 10px">Home</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/news/" style="padding-right: 10px">News</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/about/" style="padding-right: 10px">About us</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/services/" style="padding-right: 10px">Services</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/cart/" style="padding-right: 10px">Cart</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/faq/" style="padding-right: 10px">FAQ</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/contacts/" style="padding-right: 10px">Contact us</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/coupons/" style="padding-right: 10px">Coupons</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/privacy_policy/" style="padding-right: 10px">Privacy policy</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/review/" style="padding-right: 10px">Reviews</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/auth/" style="padding-right: 10px">Log in</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/client/" style="padding-right: 10px">Orders</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/master/" style="padding-right: 10px">For masters</a>
            </li>
        </ul>
    </nav>

</aside>