<aside class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}" style="padding-right: 10px">Home</a>
            </li>
            <li>
                <a href="{% url 'news' %}" style="padding-right: 10px">News</a>
            </li>
            <li>
                <a href="{% url 'about' %}" style="padding-right: 10px">About us</a>
            </li>
            <li>
                <a href="{% url 'services' %}" style="padding-right: 10px">Services</a>
            </li>
            <li>
                <a href="{% url 'cart_items' %}" style="padding-right: 10px">Cart</a>
            </li>
            <li>
                <a href="{% url 'faq' %}" style="padding-right: 10px">FAQ</a>
            </li>
            <li>
                <a href="{% url 'contacts' %}" style="padding-right: 10px">Contact us</a>
            </li>
            <li>
                <a href="{% url 'coupons' %}" style="padding-right: 10px">Coupons</a>
            </li>
            <li>
                <a href="{% url 'privacy_policy' %}" style="padding-right: 10px">Privacy policy</a>
            </li>
            <li>
                <a href="{% url 'reviews' %}" style="padding-right: 10px">Reviews</a>
            </li>
            <li>
                <a href="{% url 'vacancies' %}" style="padding-right: 10px">Vacancies</a>
            </li>
            <li>
                <a href="{% url 'auth_page' %}" style="padding-right: 10px">Log in</a>
            </li>
            <li>
                <a href="{% url 'order_list' %}" style="padding-right: 10px">Orders</a>
            </li>
            <li>
                <a href="{% url 'master_orders' %}" style="padding-right: 10px">For masters</a>
            </li>
        </ul>
    </nav>

</aside>