{% extends 'mainapp/layout.html' %}

{% block title_block %}
    Reviews
{% endblock %}

{% block main_block %}
    <h1>Reviews</h1>
    <form action="{% url 'add_review' %}" method="post">
        {% csrf_token %}
        <select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <label>
            <span>Speed rating</span>
            <input type="range" min="1" max="5" step="1" name="speed_rating">
        </label>
        <br>
        <label>
            <span>Service was pleasant</span>
            <input type="checkbox" name="was_pleasant">
        </label>
        <br>
        <label>
            <span>Service was clean</span>
            <input type="checkbox" name="was_clean">
        </label>
        <br>
        <input type="text" name="text">
        <br>
        <button type="submit">Add review</button>
    </form>
    {% for review in reviews %}
        {% include 'mainapp/review_block.html' with review=review %}
    {% endfor %}

{% endblock %}