{% extends 'mainapp/layout.html' %}
{% block title_block %}
    Log in
{% endblock %}
{% block main_block %}
    <div class="login_container">
        <div class="flat_container login_window">
            <div class="flat_container_header">
                <h1 class="flat_container_heading_text">Log in</h1>
            </div>
            <div class="flat_container_body">
                <!-- Login form -->
                {% if request.user.is_authenticated %}
                    <span class="flat_container_emphasis_text" style="display: block">{{ request.user.email }}</span>
                    <form action="{% url 'log_out' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn_general">Log out</button>
                    </form>
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %} <!-- CSRF token for security -->

                        {% if messages %}
                            <div role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <label for="exampleInputEmail1" class="flat_container_emphasis_text_light">Username</label>
                        <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                               placeholder="Enter username" required>

                        <label for="exampleInputPassword1" class="flat_container_emphasis_text_light">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>

                        <button type="submit" class="btn_general">Log in</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

