* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
}

.wrapper {
    width: 100%;
}

.content {
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}

.main_footer {
    background-color: #161616;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

/* Used with two-block containers */

.flat_container {
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
    overflow: hidden;
}

.flat_container > .flat_container_header {
    width: 100%;
    padding: 20px;
    /*background-color: #eeeeee;*/
    background-image: linear-gradient(315deg, #eeeeee, #F7F7F7, #eeeeee);
}

.flat_container > .flat_container_double_header {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
}

.flat_container > .flat_container_double_header > .left {
    width: calc(100% - 200px);
}

.flat_container > .flat_container_double_header > .right {
    width: 200px;
}

.flat_container > .flat_container_body {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
}

/* Used with two-block containers */

.flat_container_padding {
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
    overflow: hidden;
    padding: 20px;
}

.flat_container_heading_text {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 25px;
}

*[class^="flat_container_emphasis_text"] {
    display: inline-block;
    padding: 3px 6px;
    background-color: #000000;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.flat_container_emphasis_text_light {
    background-color: #eeeeee;
    color: #000000;
}

.flat_container_default_text {
    word-break: break-word;
    font-family: "Roboto", sans-serif;
}

q {
    display: flex;
    padding: 20px 0;
    color: #777777;
    justify-content: center;
    width: 100%;
}

.article_image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.article_image > div {
    text-align: center;
}

.article_image img {
    width: 300px;
}

.news_wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.news_article_preview {
    position: relative;
    height: 500px;
    padding: 20px;
    margin-bottom: 10px;
    z-index: 0;
    background-size: cover;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.news_article_preview::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
    z-index: -1;
}

.news_article_preview > .text_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 200px;
    background-color: #ffffff;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.news_article_preview > a[href] {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

.news_article_preview > a[href]:visited {
    color: #cccccc
}

.news_article_preview > .text_info > strong {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.btn_general {
    display: inline-block;
    outline: none;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #eeeeee;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    pointer-events: all;
}

.btn_general:disabled {
    opacity: .5;
    pointer-events: none;
}

.btn_general:hover {
    background-color: black;
    color: #f7f7f7;
}

.flat_container * + form > .btn_general,
.flat_container * + .btn_general {
    margin-top: 10px;
}

.card {
    background-color: #f7f7f7;
    font-family: Consolas, sans-serif;
    padding: 20px;
    margin: 0 15px 15px 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.privacy_policy > :is(h1, h2, h3, h4, h5, h6) {
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-bottom: 10px;
}

.privacy_policy p,
.privacy_policy ul{
    font-family: "Roboto", sans-serif;
    line-height: 30px;
}

.privacy_policy ul li::marker {
    content: "+ ";
}

.main_info ul li::marker {
    content: 'âœ ';
}

.main_info p::first-letter {
    font-size: 30px;
    color: firebrick;
}

.main_info p {
    word-spacing: 10px;
    word-break: break-word;
    word-wrap: break-word;
    letter-spacing: 1px;
    text-indent: 20px;
    font-family: "Roboto", sans-serif;
}

::selection {
    color: #ffffff;
    background: #000000;
}

.main_info q {
    font-family: "Montserrat", sans-serif;
    font-variant: all-petite-caps;
}

.main_info q:lang(en)::before,
.main_info q:lang(en)::after {
    content: "\"";
}

.main_info q:lang(ru)::before,
.main_info q:lang(ru)::after {
    content: "\'";
}

.master_image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.misc_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

div[itemprop="joke"],
div[itemprop="fact"] {
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    border-radius: 24px;
}

div[itemprop="joke"] > p,
div[itemprop="fact"] > p {
    font-family: "Roboto", sans-serif;
}


.main_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.main_header > h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

*[class^="heading_container"] {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.heading_container_symmetrical {
    padding-top: 20px;
}

*[class^="heading"] {
    font-family: "Montserrat", sans-serif;
    font-kerning: normal;
}


.main_header > h1 ~ h2 {
    font-family: "Montserrat", sans-serif;
}

.header_logo {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
}

.banner_wrapper {
    overflow: hidden;
    max-height: 500px;
    border-radius: 24px;
}

.main_banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_banner .banner_image {
    width: 100%;
    max-width: 1000px;
    display: none;
}

.main_banner .banner_image:first-child {
    display: block;
}

.sponsors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sponsors .sponsor_block {
    padding: 50px;
}

.sponsors .sponsor_block img {
    width: 200px;
}

button.delete {
    outline: none;
    padding: 5px 10px;
    border-radius: 0;
    border: 4px solid firebrick;
    color: firebrick;
    background-color: transparent;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.card {
    background-color: #f7f7f7;
    font-family: Consolas, sans-serif;
    padding: 20px;
    margin: 0 15px 15px 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

button.checkout_btn {
    outline: none;
    padding: 5px 10px;
    border-radius: 0;
    border: 4px solid black;
    background-color: transparent;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

button.checkout_btn:hover {
    background-color: black;
    color: #f7f7f7;
}

button.remove_btn {
    outline: none;
    padding: 5px 10px;
    border-radius: 0;
    border: 4px solid black;
    background-color: transparent;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

button.remove_btn:hover {
    background-color: black;
    color: #f7f7f7;
}

.login_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_window {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login_window input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.login_window label {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid #000000;
}

.certificate {
    position: relative;
    text-align: center;
    width: 300px;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 20px solid;
    -moz-border-image: url("planet.png") 30 stretch stretch;
    -webkit-border-image: url("planet.png") 30 stretch stretch;
    -o-border-image: url("planet.png") 30 stretch stretch;
    border-image: url("planet.png") 30 stretch stretch;
}

.certificate_content {
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 2px;
    left: 3px;
    background-image: radial-gradient(circle, rgba(139,85,73,1) 0%, rgba(23,7,5,1) 30%, rgba(245,121,95,1) 100%);
}

.certificate_content > .certificate_heading {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}

.certificate_content > .certificate_company {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-variant: small-caps slashed-zero common-ligatures;
    font-weight: 600;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
}

.certificate_content > .certificate_text {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-variant: all-petite-caps;
    font-size: 12px;
    text-align: justify-all;
    display: block;
    margin-bottom: 50px;
}
.certificate_content > .certificate_bottom_text {
    font-family: "Roboto", sans-serif;
    font-variant: all-petite-caps;
    font-size: 12px;
    text-align: justify-all;
    display: block;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    padding: 10px;
}


.certificate > .frame {
    position: absolute;
    z-index: 2;
}

*[class^="news_article"] {
    font-family: "Roboto", sans-serif;
}

.news_article_wrapper {}

.news_article_wrapper > *:nth-child(2) {
    margin-top: 20px;
}

.news_article_image {
    width: 100%;
}

.news_article_author {
    display: inline-block;
}

.news_article_text {
    text-align: justify;
    columns: 3;
    gap: 25px;
}

.service_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.service_wrapper_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.service_wrapper_5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.faq_block_wrapper {

}

.faq_block_wrapper > strong {
    font-family: "Montserrat", sans-serif;
}

.faq_block_wrapper > *[itemprop="teaser"] {
    font-family: "Roboto", sans-serif
}

.faq_block_wrapper > *[itemprop="lastReviewed"] {
    font-family: "Roboto", sans-serif
}

.empty_cart_message {
    font-family: "Montserrat", sans-serif;
    font-weight: 780;
    color: rgba(0, 0, 0, .1);
    font-size: 50px;
}

.input_general {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.input_general:required {
    animation: 2s pulse ease-in-out;
}

.input_general.invalid {
    background-color: rgba(255, 200, 200, .3);
    border: 1px solid orangered;
}

.input_general:required:nth-child(n) {
    animation: 2s pulse ease-in-out;
}

@keyframes pulse {
    50% {
        transform: scaleX(105%);
    }
}

.fun_table {
    width: 100%;
    height: 500px;
    border-collapse: collapse;
    empty-cells: show;
    font-family: "Roboto", sans-serif;
}

.fun_table td:empty {
    background-color: rgba(0, 0, 0, 1);
}

.fun_table td:nth-child(2n) {
    text-align: right;
    background-color: lightpink;
}

.fun_table td:nth-child(2n + 1) {
    vertical-align: bottom;
}

.fun_table > thead {
    background-color: #cccccc;
}

.preloader_container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader {
    width: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.preloader_container.ready {
    opacity: 0;
    pointer-events: none;
}

.preloader > div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000000;
}

.preloader > div:nth-child(1) {
    animation: 1s bounce ease-in-out infinite;
    animation-delay: 0s;
}

.preloader > div:nth-child(2) {
    animation: 1s bounce ease-in-out infinite;
    animation-delay: .1s;
}

.preloader > div:nth-child(3) {
    animation: 1s bounce ease-in-out infinite;
    animation-delay: .2s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.main_animation {
    position: relative;
    display: flex;
    padding: 50px;
}

.main_animation .laptop {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    animation: 10s laptop_animation ease-in-out;
}

.main_animation .phone {
    z-index: 5;
    transform: translate(-20%, 50%) rotateZ(-35deg);
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    animation: 10s phone_animation ease-in-out;
}

.main_animation .wand {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    transform: rotateZ(-45deg);
    animation: 10s wand_animation ease-in-out;
}

@keyframes laptop_animation {
    0% {
        background-image: url("laptop.png");
    }
    40% {
        filter: opacity(1) blur(0);
    }
    50% {
         filter: opacity(0) blur(100px);
    }
    100% {
        background-image: url("laptop_fixed.png");
    }
}

@keyframes phone_animation {
    0% {
        background-image: url("smartphone.png");
    }
    40% {
        filter: opacity(1) blur(0);
    }
    50% {
         filter: opacity(0) blur(100px);
    }
    100% {
        background-image: url("phone_fixed.png");
    }
}

@keyframes wand_animation {
    0% {
        transform: rotateZ(-45deg);
    }
    25% {
        transform: rotateZ(-90deg);
    }
    50% {
        transform: rotateZ(-90deg) translate(-75%, -75%);
    }
}

.review_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.review {
    width: 500px;
}

.review textarea {
    width: 100%;
    min-height: 200px;
    resize: none;
}

.review textarea:focus {
    background-color: #eeeeee;
}

.review label {
    display: block;
}

.review input:disabled {
    opacity: .5;
}

.review input:out-of-range {
    border: 1px solid firebrick;
}

.review input:checked {
    border: none;
    outline: 2px solid deeppink;
}

.timer {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.timer > .time {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

#table_wrapper > #info {
    display: block;
}

#table_wrapper > #info img {
    display: block;
    width: 200px;
}